
body {
    background-color: khaki;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Poppins';
}
p {
    color: black;
}

a:link{
    text-decoration: none;
    color: black; 
}
a:visited{
    text-decoration: none;
    color: black; 
}

a:hover{
    text-decoration: none;
    color: rgb(0, 22, 189);
    font-weight: bold; 
}

.formatheader{
    font-size: larger;
}
